<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detail Information</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/DetailInformation.css') }}">
</head>
<body>
  <section>
    <div class="container">
      <div class="header">
        <div class="back-button">
          <i class="fas fa-arrow-left">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
          </i>
          <span></span>
          <h2>Detil Informasi</h2>
        </div>
      </div>
      <div class="image-container">
        <img src="{{ url_for('static', filename='images/tungro.jpg') }}" alt="Load fail.." style="width: 900px; height: 200px; border-radius: 15px;">
        <div class="information">
          <h3>{{ label }}</h3>
          <p style="font-style: italic;">Merupakan sejenis 
          {% for label in labels %}
            {{ label }}
          {% endfor %}
           pada sebuah tanaman padi.</p>
        </div>
      </div>
      <p>Berikut merupakan informasi yang relevan terkait kasus {{label}}, Yuk Simak Informasinya!</p>
      <div class="categories">
        {% for info in gejala_info %}
        <div class="category" data-label="{{ info.label }}"> {{ info.label }}</div>
        {% endfor %}
        {% for info in fungisida_info %}
        <div class="category" data-label="{{ info.label }}">{{ info.label }}</div>
        {% endfor %}
        {% for info in patogen_info %}
        <div class="category" data-label="{{ info.label }}">{{ info.label }}</div>
        {% endfor %}
      </div>
      <div class="information">
        <h4>Keterangan</h4>
        <p class="gray-text">{{ abstract }}</p>
      </div>
      <div class="more-information">
        <h4>Yuk cari tahu lebih dalam</h4>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Apa saja gejalanya?
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                {% if gejala_info %}
                <table>
                    <thead>
                        <tr>
                            <th>Gejala</th>
                            <th>Keterangan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for info in gejala_info %}
                        <tr>
                            <td>{{ info.label }}</td>
                            <td>{{ info.abstract }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>Tidak ada informasi gejala tersedia.</p>
                {% endif %}
              </div>
            </div>
          </div>
          <!-- other accordion items -->
           
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Apa penyebabnya?
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <p>Umumnya {{label}} Dapat terjadi karena:</p>
                {% if patogen_info %}
                <table>
                  <thead>
                      <tr>
                          <th>Patogen</th>
                          <th>Keterangan</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for info in patogen_info %}
                      <tr>
                          <td>{{ info.label }}</td>
                          <td>{{ info.abstract }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
                {% else %}
                <!-- <p>Tidak ada informasi tersedia.</p> -->
                {% endif %}

                {% if hama_info %}
                <table>
                  <thead>
                      <tr>
                          <th>Hama</th>
                          <th>Keterangan</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for info in hama_info %}
                      <tr>
                          <td>{{ info.label }}</td>
                          <td>{{ info.abstract }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
                {% else %}
                <!-- <p>Tidak ada informasi tersedia.</p> -->
                {% endif %}

              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Bagaimana cara menanganinya?
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <p>Berikut penanangan yang dapat dilakukan terhadap kasus {{ label }}:</p>
                {% if fungisida_info %}
                <table>
                  <thead>
                      <tr>
                          <th>Fungisida</th>
                          <th>Keterangan</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for info in fungisida_info %}
                      <tr>
                          <td>{{ info.label }}</td>
                          <td>{{ info.abstract }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
                {% else %}
                <!-- <p>Tidak ada informasi fungisida tersedia.</p> -->
                {% endif %}
                
                {% if bakterisida_info %}
                <table>
                  <thead>
                      <tr>
                          <th>Bakterisida</th>
                          <th>Keterangan</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for info in bakterisida_info %}
                      <tr>
                          <td>{{ info.label }}</td>
                          <td>{{ info.abstract }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
                {% else %}
                <!-- <p>Tidak ada informasi bakterisida tersedia.</p> -->
                {% endif %}
                
                {% if pestisida_info %}
                <table>
                  <thead>
                      <tr>
                          <th>Pestisida</th>
                          <th>Keterangan</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for info in pestisida_info %}
                      <tr>
                          <td>{{ info.label }}</td>
                          <td>{{ info.abstract }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
                {% else %}
                <!-- <p>Tidak ada informasi pestisida tersedia.</p> -->
                {% endif %}
                
                {% if agenbiologi_info %}
                <table>
                  <thead>
                      <tr>
                          <th>Agen Biologi</th>
                          <th>Keterangan</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for info in agenbiologi_info %}
                      <tr>
                          <td>{{ info.label }}</td>
                          <td>{{ info.abstract }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
                {% else %}
                <!-- <p>Tidak ada informasi agen biologi tersedia.</p> -->
                {% endif %}
                
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Apa saja yang dirusak oleh virus ini?
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                {% if gejala_info %}
                <ul>
                  {% for info in gejala_info %}
                  <li>{{ info.label }}</li>
                  {% endfor %}
                </ul>
                {% else %}
                <p>Tidak ada informasi tersedia.</p>
                {% endif %}
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <script>
    document.querySelector('.back-button').addEventListener('click', function() {
        history.back();
    });

    // Add click event listeners to categories
    document.querySelectorAll('.category').forEach(function(category) {
        category.addEventListener('click', function() {
            const label = category.getAttribute('data-label');
            // alert('Category clicked: ' + label); // Replace this line with the desired action
            window.location.href = `/details-2?label=${label}`;
        });
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
