<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diagnosa</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Diagnosa.css') }}">
</head>

<body>
  <section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='images/EXTANI.png') }}" width="48" height="48" alt="Penyiangan">
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/">
                      <span>Beranda</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/perpustakaan">
                      <span>Perpustakaan</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/diagnosa">
                      <span>Diagnosa</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/tipsperawatan">
                      <span>Tips Perawatan</span>
                  </a>
              </li>
          </ul>
      </div>
  </nav>

  <!-- Bootstrap and Font Awesome JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </section>

  <section>
    <div class="container">
      <div class="back-button">
        <i class="fas fa-arrow-left">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
          </svg>
        </i>
        <span></span>
        <h2>Diagnosa</h2>
      </div>

      <div class="more-information">
        <h4>Pilih Gejala Tanaman Anda</h4>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Gejala pada Daun
                </button>
                <div class="hover-info">
                  <i class="info-icon">i</i>
                  <div class="hover-message">Daun padi biasanya berbentuk panjang dan lebar dengan ujung yang runcing</div>
              </div>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Gejala</th>
                      <th scope="col">Pilih</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>Daun Berkarat?</td>
                        <td>
                          <select class="form-control">
                            <option value="Tidak" class="option-tidak" selected>Tidak</option>
                            <option value="Ya" class="option-ya">Ya</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td>Daun Berlubang?</td>
                        <td>
                          <select class="form-control">
                            <option value="Tidak" class="option-tidak" selected>Tidak</option>
                            <option value="Ya" class="option-ya">Ya</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td>Daun Melengkung?</td>
                        <td>
                          <select class="form-control">
                            <option value="Tidak" class="option-tidak" selected>Tidak</option>
                            <option value="Ya" class="option-ya">Ya</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                          <td>Daun Melepuh?</td>
                          <td>
                            <select class="form-control">
                              <option value="Tidak" class="option-tidak" selected>Tidak</option>
                              <option value="Ya" class="option-ya">Ya</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>Daun Mengering?</td>
                          <td>
                            <select class="form-control">
                              <option value="Tidak" class="option-tidak" selected>Tidak</option>
                              <option value="Ya" class="option-ya">Ya</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>Daun Menguning?</td>
                          <td>
                            <select class="form-control">
                              <option value="Tidak" class="option-tidak" selected>Tidak</option>
                              <option value="Ya" class="option-ya">Ya</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>Daun Rontok?</td>
                          <td>
                            <select class="form-control">
                              <option value="Tidak" class="option-tidak" selected>Tidak</option>
                              <option value="Ya" class="option-ya">Ya</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>Daun Mengalami Kerusakan?</td>
                          <td>
                            <select class="form-control">
                              <option value="Tidak" class="option-tidak" selected>Tidak</option>
                              <option value="Ya" class="option-ya">Ya</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>Daun Terdapat Bercak?</td>
                          <td>
                            <select class="form-control">
                              <option value="Tidak" class="option-tidak" selected>Tidak</option>
                              <option value="Ya" class="option-ya">Ya</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>Daun Terdapat Garis?</td>
                          <td>
                            <select class="form-control">
                              <option value="Tidak" class="option-tidak" selected>Tidak</option>
                              <option value="Ya" class="option-ya">Ya</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>Daun Terdapat Luka?</td>
                          <td>
                            <select class="form-control">
                              <option value="Tidak" class="option-tidak" selected>Tidak</option>
                              <option value="Ya" class="option-ya">Ya</option>
                            </select>
                          </td>
                        </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Gejala pada Batang
                </button>
                <div class="hover-info">
                  <i class="info-icon">i</i>
                  <div class="hover-message">Informasi tentang item ini</div>
              </div>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Gejala</th>
                      <th scope="col">Pilih</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Batang Berubah Warna?</td>
                      <td>
                        <select class="form-control">
                          <option value="Tidak" class="option-tidak" selected>Tidak</option>
                          <option value="Ya" class="option-ya">Ya</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>Batang Berlubang?</td>
                      <td>
                        <select class="form-control">
                          <option value="Tidak" class="option-tidak" selected>Tidak</option>
                          <option value="Ya" class="option-ya">Ya</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>Batang Membusuk?</td>
                      <td>
                        <select class="form-control">
                          <option value="Tidak" class="option-tidak" selected>Tidak</option>
                          <option value="Ya" class="option-ya">Ya</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                        <td>Batang Mengalami Kerusakan?</td>
                        <td>
                          <select class="form-control">
                            <option value="Tidak" class="option-tidak" selected>Tidak</option>
                            <option value="Ya" class="option-ya">Ya</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td>Batang Rapuh?</td>
                        <td>
                          <select class="form-control">
                            <option value="Tidak" class="option-tidak" selected>Tidak</option>
                            <option value="Ya" class="option-ya">Ya</option>
                          </select>
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Gejala pada Akar
                </button>
                <div class="hover-info">
                  <i class="info-icon">i</i>
                  <div class="hover-message">Informasi tentang item ini</div>
              </div>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Gejala</th>
                      <th scope="col">Pilih</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Akar Busuk?</td>
                      <td>
                        <select class="form-control">
                          <option value="Tidak" class="option-tidak" selected>Tidak</option>
                          <option value="Ya" class="option-ya">Ya</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>Akar Menghilang?</td>
                      <td>
                        <select class="form-control">
                          <option value="Tidak" class="option-tidak" selected>Tidak</option>
                          <option value="Ya" class="option-ya">Ya</option>
                        </select>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Gejala pada Bibit
                </button>
                <div class="hover-info">
                  <i class="info-icon">i</i>
                  <div class="hover-message">Informasi tentang item ini</div>
              </div>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Gejala</th>
                      <th scope="col">Pilih</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Bibit Mati</td>
                      <td>
                        <select class="form-control">
                          <option value="Tidak" class="option-tidak" selected>Tidak</option>
                          <option value="Ya" class="option-ya">Ya</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>Bibit Tumbuh Tidak Normal?</td>
                      <td>
                        <select class="form-control">
                          <option value="Tidak" class="option-tidak" selected>Tidak</option>
                          <option value="Ya" class="option-ya">Ya</option>
                        </select>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Gejala pada Bulir
                </button>
                <div class="hover-info">
                  <i class="info-icon">i</i>
                  <div class="hover-message">Informasi tentang item ini</div>
              </div>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Gejala</th>
                      <th scope="col">Pilih</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Bulir Berubah Warna?</td>
                      <td>
                        <select class="form-control">
                          <option value="Tidak" class="option-tidak" selected>Tidak</option>
                          <option value="Ya" class="option-ya">Ya</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>Bulir Mengalami Kerusakan?</td>
                      <td>
                        <select class="form-control">
                          <option value="Tidak" class="option-tidak" selected>Tidak</option>
                          <option value="Ya" class="option-ya">Ya</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                        <td>Bulir Pecah?</td>
                        <td>
                          <select class="form-control">
                            <option value="Tidak" class="option-tidak" selected>Tidak</option>
                            <option value="Ya" class="option-ya">Ya</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td>Bulir Terdapat Bercak?</td>
                        <td>
                          <select class="form-control">
                            <option value="Tidak" class="option-tidak" selected>Tidak</option>
                            <option value="Ya" class="option-ya">Ya</option>
                          </select>
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Gejala pada Malai
                </button>
                <div class="hover-info">
                  <i class="info-icon">i</i>
                  <div class="hover-message">Informasi tentang item ini</div>
              </div>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Gejala</th>
                      <th scope="col">Pilih</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Malai Basah?</td>
                      <td>
                        <select class="form-control">
                          <option value="Tidak" class="option-tidak" selected>Tidak</option>
                          <option value="Ya" class="option-ya">Ya</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>Malai Hilang?</td>
                      <td>
                        <select class="form-control">
                          <option value="Tidak" class="option-tidak" selected>Tidak</option>
                          <option value="Ya" class="option-ya">Ya</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                        <td>Bulir Mengalami Kerusakan?</td>
                        <td>
                          <select class="form-control">
                            <option value="Tidak" class="option-tidak" selected>Tidak</option>
                            <option value="Ya" class="option-ya">Ya</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td>Bulir Terdapat Bercak?</td>
                        <td>
                          <select class="form-control">
                            <option value="Tidak" class="option-tidak" selected>Tidak</option>
                            <option value="Ya" class="option-ya">Ya</option>
                          </select>
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingSeven">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  Gejala pada Pelepah
                </button>
                <div class="hover-info">
                  <i class="info-icon">i</i>
                  <div class="hover-message">Informasi tentang item ini</div>
              </div>
              </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Gejala</th>
                      <th scope="col">Pilih</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Pelepah Berubah Warna?</td>
                      <td>
                        <select class="form-control">
                          <option value="Tidak" class="option-tidak" selected>Tidak</option>
                          <option value="Ya" class="option-ya">Ya</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>Pelepah Mengalami Kerusakan?</td>
                      <td>
                        <select class="form-control">
                          <option value="Tidak" class="option-tidak" selected>Tidak</option>
                          <option value="Ya" class="option-ya">Ya</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                        <td>Pelepah Rapuh?</td>
                        <td>
                          <select class="form-control">
                            <option value="Tidak" class="option-tidak" selected>Tidak</option>
                            <option value="Ya" class="option-ya">Ya</option>
                          </select>
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingEight">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                  Gejala pada Tanaman
                </button>
                <div class="hover-info">
                  <i class="info-icon">i</i>
                  <div class="hover-message">Informasi tentang item ini</div>
              </div>
              </h5>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Gejala</th>
                      <th scope="col">Pilih</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Tanaman Layu?</td>
                      <td>
                        <select class="form-control">
                          <option value="Tidak" class="option-tidak" selected>Tidak</option>
                          <option value="Ya" class="option-ya">Ya</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>Tanaman Mengeluarkan Cairan?</td>
                      <td>
                        <select class="form-control">
                          <option value="Tidak" class="option-tidak" selected>Tidak</option>
                          <option value="Ya" class="option-ya">Ya</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                        <td>Tanaman Menghasilkan Suara Berbunyi?</td>
                        <td>
                          <select class="form-control">
                            <option value="Tidak" class="option-tidak" selected>Tidak</option>
                            <option value="Ya" class="option-ya">Ya</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td>Tanaman Menurun Produktivitas?</td>
                        <td>
                          <select class="form-control">
                            <option value="Tidak" class="option-tidak" selected>Tidak</option>
                            <option value="Ya" class="option-ya">Ya</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td>Tanaman Rebah?</td>
                        <td>
                          <select class="form-control">
                            <option value="Tidak" class="option-tidak" selected>Tidak</option>
                            <option value="Ya" class="option-ya">Ya</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                          <td>Tanaman Terdapat Pupa?</td>
                          <td>
                            <select class="form-control">
                              <option value="Tidak" class="option-tidak" selected>Tidak</option>
                              <option value="Ya" class="option-ya">Ya</option>
                            </select>
                          </td>
                      </tr>
                      <tr>
                        <td>Tanaman Terjadi Pembentukan Sporulasi?</td>
                        <td>
                          <select class="form-control">
                            <option value="Tidak" class="option-tidak" selected>Tidak</option>
                            <option value="Ya" class="option-ya">Ya</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                          <td>Tanaman Tumbuh Terhambať?</td>
                          <td>
                            <select class="form-control">
                              <option value="Tidak" class="option-tidak" selected>Tidak</option>
                              <option value="Ya" class="option-ya">Ya</option>
                            </select>
                          </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="text-center py-3">
        <button class="btn btn-diagnosa" onclick="redirectToPage('/hasildiagnosa')">Diagnosa</button>
      </div>
      </div>
    </div>
    </div>
    
  </section>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/redirect.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
