<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hasil Diagnosa</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/HasilDiagnosa.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='images/EXTN.png') }}" width="90" height="20" alt="eXperTani">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Beranda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/perpustakaan">Perpustakaan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/diagnosa">Diagnosa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tipsperawatan">Tips Perawatan</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Bootstrap and Font Awesome JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <section class="HasilDiagnosa">
        <div class="Main main-position">
          <div class="Main main-style">
            <div class="CreatPost">
              <div class="StatusPertanyaan">
                <div class="NamePertanyaan">
                  <div class="HasilDiagnosis">Hasil Diagnosis</div>
                </div>
              </div>
              <div class="Frame937">
                <div class="Frame930">
                  <img class="WhatsappImage20220205At11118" src="{{ url_for('static', filename='images/hama_wereng.jpg') }}" />
                </div>
                <div class="DetailCar">
                  <div class="CarName">
                    <div class="NamaPenyakit">Wereng <br/>(Nilaparvata lugens)</div>
                    <div class="Reviews">
                      <div class="SerangBagian">Hama - Menyerang Batang</div>
                    </div>
                  </div>
                  <div class="PenjelasanSingkat">
                    Baik nimfa maupun dewasa berlindung di pangkal tanaman dan menghisap getah dari batang dan daun. Tanaman layu dan mulai menguning. Kepadatan populasi yang menyebabkan daun menjadi kuning jingga, kemudian menjadi coklat dan kering, dan akhirnya tanaman mengering dan mati. <br/><br/>
                    <!-- Gejala pertama kali terlihat pada petak-petak kecil namun gejala tersebut dapat berkembang cepat seiring dengan penyebaran wereng. Betina bertelur di batang dan tengah daun, menyebabkan kerusakan tambahan. Tanaman mempunyai malai yang lebih kecil, bulir masak lebih sedikit, dan bobot bulir lebih rendah.   -->
                  </div>
                  <div class="Frame941">
                    <div class="Price"></div>
                    <div class="Button">
                      <div class="Detail" onclick="redirectToPage('DetailInformation.html')">Detail</div>
                    </div>
                  </div>
                  <div class="Spesification1">
                    <div class="Typr">
                      <div class="KategoriPatogen">Kategori Patogen</div>
                      <div class="Virus">Virus</div>
                    </div>
                    <div class="Typr">
                      <div class="Peluang">Peluang</div>
                      <div class="Presentase">80%</div>
                    </div>
                    <div class="Steering">
                      <div class="Menyerang">Menyerang</div>
                      <div class="Daun">Daun</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="Frame952">
                <div class="StatusPertanyaan">
                  <div class="NamePertanyaan">
                    <div class="Keterangan">Keterangan</div>
                  </div>
                </div>
                <div class="Name">
                  <div class="SaranPenanganan">Saran Penanganan</div>
                  <div class="InputData">
                    <div class="FringillaDisAuctorMaecenasInTegerConsecteturGravidaSemIntegerUtRisusAeneanEu">
                        Gunakan varietas tahan yang direkomendasikan secara lokal, jika tersedia.
                    </div>
                  </div>
                  <div class="InputData">
                    <div class="AfringillaDisAuctorMaecenasInTegerConsecteturGravidaSemIntegerUtRisusAeneanEu">
                        Tanamlah ladang di area yang sama pada periode yang sama untuk menghindari wabah.
                    </div>
                  </div>
                  <div class="InputData">
                    <div class="LoremIpsumDolorSitAmetConsecTeTurEgestasLigulaLuctusAmetOdioSaGittisPharetraSagittis">
                        Singkirkan gulma dari ladang dan sekitarnya secara teratur.
                    </div>
                  </div>
                </div>
                <div class="Frame955">
                  <div class="Name">
                    <div class="KemungkinanPenyakitLain">Kemungkinan penyakit lain</div>
                    <div class="InputData">
                      <div class="HamaWereng50">Hama Wereng (50%)</div>
                    </div>
                  </div>
                  <div class="Name">
                    <div class="InputData">
                      <div class="RiceGrassyStuntVirusRgsv60">Rice Grassy Stunt Virus (RGSV) (60%)</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="Frame956">
                <div class="Button">
                  <div class="Content">
                    <div class="Label" onclick="redirectToPage('Diagnosa.html')">Diagnosis Ulang</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script src="redirect.js"></script>      
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
