<!DOCTYPE html>
<html>
<head>
  <title>Perpustakaan</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tanaman.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/HasilDiagnosa.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='images/EXTANI.png') }}" width="48" height="48" alt="Penyiangan">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <span>Beranda</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/perpustakaan">
                    <span>Perpustakaan</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/diagnosa">
                    <span>Diagnosa</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tipsperawatan">
                    <span>Tips Perawatan</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

  <div class="container">
    <div class="filter-section">
      <div class="filter-by">
        <h2>Filter by</h2>
        <div class="filter-item">
          <input type="checkbox" id="penyakit" name="category" value="penyakit">
          <label for="penyakit">Penyakit</label>
        </div>
        <div class="filter-item">
          <input type="checkbox" id="hama" name="category" value="hama">
          <label for="hama">Hama</label>
        </div>
      </div>
      <div class="search-section">
        <div class="search-bar">
          <input type="text" id="search-query" placeholder="Tuliskan nama penyakit...">
        </div>
      </div>
    </div>
    <div class="disease-list" id="disease-list">
      <!-- Cards will be dynamically inserted here -->
    </div>
  </div>

  <!-- Bootstrap and jQuery JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Custom JS -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      loadInitialData();

      // Event listener for search input
      document.getElementById('search-query').addEventListener('input', search);

      // Event listeners for checkboxes
      document.getElementById('penyakit').addEventListener('change', search);
      document.getElementById('hama').addEventListener('change', search);
    });

    function loadInitialData() {
      fetch('/search-results?query=random')
        .then(response => response.json())
        .then(data => {
          displayResults(data.nodes);
        })
        .catch(error => console.error('Error fetching initial data:', error));
    }

    function displayResults(nodes) {
      const diseaseList = document.getElementById('disease-list');
      diseaseList.innerHTML = '';  // Clear existing cards
      nodes.forEach(node => {
        const card = `
          <div class="disease-card" data-label="${node.label}">
            <img src="{{ url_for('static', filename='images/hama_wereng.jpg') }}" alt="${node.label}">
            <div class="info">
              <h2>${node.label}</h2>
              <p>${node.abstract}</p>
              <div class="details">
                <span>Serangga</span>
                <span>Merusak Batang</span>
              </div>
              <div class="details">
                <span>Patogen</span>
                <span>Cara Penanganan</span>
              </div>
            </div>
          </div>
        `;
        diseaseList.insertAdjacentHTML('beforeend', card);
      });

      // Add click event listener to each card
      document.querySelectorAll('.disease-card').forEach(card => {
        card.addEventListener('click', function() {
          const label = this.getAttribute('data-label');
          window.location.href = `/details?label=${label}`;
        });
      });
    }

    function search() {
      const query = document.getElementById('search-query').value;
      const categories = Array.from(document.querySelectorAll('input[name="category"]:checked'))
                              .map(input => input.value)
                              .join('|');
      const url = `/search-results?query=${query}&category=${categories}`;
      fetch(url)
        .then(response => response.json())
        .then(data => {
          displayResults(data.nodes);
        })
        .catch(error => console.error('Error fetching search results:', error));
    }
  </script>
</body>
</html>
