<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perpustakaan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tanaman.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/">
    <img src="{{ url_for('static', filename='images/EXTN.png') }}" width="90" height="20" alt="eXperTani">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="/">Beranda</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/perpustakaan">Perpustakaan</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/diagnosa">Diagnosa</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/tipsperawatan">Tips Perawatan</a>
          </li>
      </ul>
  </div>
</nav>

  <div class="container">
    <div class="filter-section">
      <div class="filter-by">
        <h2>Filter by</h2>
        <div class="filter-item">
          <input type="checkbox" id="penyakit" name="category" value="penyakit">
          <label for="penyakit">Penyakit</label>
        </div>
        <div class="filter-item">
          <input type="checkbox" id="hama" name="category" value="hama">
          <label for="hama">Hama</label>
        </div>
      </div>
      <div class="search-section">
        <div class="search-bar">
          <input type="text" id="search-query" placeholder="Tuliskan nama penyakit...">
        </div>
      </div>
    </div>
    <div class="loader" id="loader"></div>
    <div class="disease-list" id="disease-list">
      <!-- Cards will be populated here by JavaScript -->
    </div>
  </div>

  <!-- Bootstrap and jQuery JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Custom JS -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      loadInitialData();

      const searchInput = document.getElementById('search-query');
      let debounceTimer;

      searchInput.addEventListener('input', function() {
        clearTimeout(debounceTimer);
        debounceTimer = setTimeout(search, 300); // Debounce search
      });

      document.getElementById('penyakit').addEventListener('change', search);
      document.getElementById('hama').addEventListener('change', search);
    });

    function loadInitialData() {
      showLoader();
      fetch('/search-results?query=random')
        .then(response => response.json())
        .then(data => {
          displayResults(data.nodes);
          hideLoader();
        })
        .catch(error => {
          console.error('Error fetching initial data:', error);
          hideLoader();
        });
    }

    function displayResults(nodes) {
      const diseaseList = document.getElementById('disease-list');
      diseaseList.innerHTML = '';  // Clear existing cards

      nodes.forEach(node => {
        // Limit gejalaInfo to a maximum of 1 items
        const limitedGejala = node.gejalaInfo.slice(0, 1);
        // Create spans for each gejala
        const gejalaSpans = limitedGejala.map(gejala => `<span>Gejala: ${gejala}...</span>`).join(' ');

        const card = `
          <div class="disease-card" data-label="${node.label}">
            <img src="{{ url_for('static', filename='images/Walang_Sangit.jpg') }}" alt="${node.label}">
            <div class="info">
              <h2>${node.label}</h2>
              <p>${node.abstract}</p>
              <div class="details">
                ${gejalaSpans}
              </div>
            </div>
          </div>
        `;
        diseaseList.innerHTML += card;
      });

      document.querySelectorAll('.disease-card').forEach(card => {
        card.addEventListener('click', function() {
          const label = this.getAttribute('data-label');
          window.location.href = `/details?label=${label}`;
        });
      });
    }

    function showLoader() {
      document.getElementById('loader').style.display = 'block';
    }

    function hideLoader() {
      document.getElementById('loader').style.display = 'none';
    }

    function search() {
      showLoader();
      const query = document.getElementById('search-query').value;
      const penyakit = document.getElementById('penyakit').checked ? 'penyakit' : '';
      const hama = document.getElementById('hama').checked ? 'hama' : '';

      let category = '';
      if (penyakit && hama) {
        category = '';
      } else if (penyakit) {
        category = 'penyakit';
      } else if (hama) {
        category = 'hama';
      }

      fetch(`/search-results?query=${query}&category=${category}`)
        .then(response => response.json())
        .then(data => {
          displayResults(data.nodes);
          hideLoader();
        })
        .catch(error => {
          console.error('Error fetching search results:', error);
          hideLoader();
        });
    }
  </script>
</body>
</html>
