.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.nav-item span {
  font-size: 14px;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-by {
  width: 20%;
}

.filter-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.filter-by h2 {
  margin-bottom: 10px;
}

.filter-by input[type="checkbox"] {
  margin-right: 5px;
}

.filter-by label {
  display: inline-block;
}

.search-section {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  width: 100%;
  display: flex;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
}

.search-button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  height: 40px; /* Sesuaikan dengan tinggi input */
}

.disease-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.disease-card {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
}

.disease-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.disease-card .info {
  margin-top: 10px;
}

.disease-card .info h2 {
  margin-bottom: 5px;
}

.disease-card .info p {
  margin-bottom: 10px;
}

.disease-card .info .details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.disease-card .info .details span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 5px;
}
